{% extends 'Quotes/base.html' %}

{% block content %}

<table class="table table-borderless">
  <thead class="border-bottom font-weight-bold">
    <tr>
      <td> Full Name</td>
      <td>Mobile </td>
      <td>Postion</td>
      <td> 
      <a href="{% url 'APP:index' %}" class="btn btn-outline-success btn-sm"> <i class="fas fa-plus"></i> Add </a>
      </td>
    </tr>
  </thead>
  <tbody>
    {% for emp in employee_list  %}
     <tr>
       <td> {{emp.fullname}} </td>
       <td> {{emp.mobile}} </td>
       <td> {{emp.position}} </td>
        <td> 
          <a href="{% url 'APP:update' id=emp.id %}" class="btn text-secondary px-0" > <i class="far fa-edit fa-lg"></i> </a> 
          <form action="{% url 'APP:delete' id=emp.id %}" method="post" class="d-inline">
            <button type="submit" name="button" class="btn">
               <i class="fas fa-trash-alt fa-lg text-danger" ></i>
            </button>
            {% csrf_token %}
          </form>
        </td>
     </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}