{% extends 'Quotes/base.html' %}

{% block content %}

<table class="table table-borderless">
  <thead class="border-bottom font-weight-bold">
    <tr>
      <td> Q.Code</td>
      <td>Author </td>
      <td>Quotes</td>
      <td>Type</td>
      <td class="row">
      <a href="{% url 'APP:index' %}" class=" btn btn-outline-success btn-sm ml-4"> <i class="fas fa-plus"></i></a>
      </td>
    </tr>
  </thead>
  <tbody>
    {% for quote in quotes_list %}
     <tr>
       <td> {{quote.q_code}} </td>
       <td> {{quote.author_name}} </td>
       <td class="text-justify border border-dark"> " {{quote.quotes}} " </td>
        <td> {{quote.catagory}} </td>
        <td class="d-flex ml-2">
          <a href="{% url 'APP:update' id=quote.id %}" class="btn text-secondary px-0" > <i class="far fa-edit fa-lg"></i> </a>
          <form action="{% url 'APP:delete' id=quote.id %}" method="post" class="d-inline">
            <button type="submit" name="button" class="btn">
               <i class="fas fa-trash-alt fa-lg text-danger" ></i>
            </button>
            {% csrf_token %}
          </form>
        </td>
     </tr>
    {% endfor %}
  </tbody>
</table>




{% endblock content %}
